 *{
	font-family:  'VT323', monospace;
}

body {
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	background: grey;
	margin-top: 0px;
	width: 100%;

}

h1 {
	font-size: 60px;
	color: black;
	text-shadow: 5px 5px 5px rgb(77, 77, 72);
	font-weight: bold;
}

.btn {
	float:left;
	width: 25%;
    display: block;
}

.button{
	display: block;
	padding: 10px;
	font-size: 18px;
	width: 240px;
	cursor:pointer;
	font-weight: bold;
}
.button:hover{
	color: orange;
	box-shadow: 5px 5px 5px 5px black;
} 


.reset{
	padding: 15px 50px;
	
}

.grid {
	margin-top: -120px;
	margin-right:100px; 
	display: inline-block;
	border: 5px solid black;
	width: 675px;
	height: 675px;
	float: right;
	
	background:rgb(59, 58, 55);


	/*grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);*/
}

.cell {
	background-color: black;
	
	border: 1px solid rgb(66, 66, 64);
	width: 40px;
	height: 40px;
	float:right;
	border-radius: 30%;
	z-index: 2;

	}
.cell2 {
	background-color: black;
	
	border: 1px solid rgb(66, 66, 64);
	width: 22px;
	height: 22px;
	float:right;
	border-radius: 30%;
	z-index: 2;

	}


footer {
	float: left;
	width:90%;
}