 *{
	font-family:  'VT323', monospace;
}

body {
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	background: grey;
	margin-top: 0;
	width: 100%;
}

h1 {
	font-size: 60px;
	color: black;
	text-shadow: 5px 5px 5px rgb(77, 77, 72);
	font-weight: bold;
}

.btn {
	float:left;
	width: 25%;
    display: block;
}

.button{
	display: block;
	padding: 10px;
	font-size: 18px;
	width: 240px;
	cursor:pointer;
	font-weight: bold;
}
.button:hover{
	color: orange;
	box-shadow: 5px 5px 5px 5px black;
} 

/*.reset{
	padding: 15px 50px;
}*/

.grid {
	margin-top: -120px;
	margin-right:100px; 
	display: inline-block;
	border: 5px solid black;
	width: 675px;
	height: 675px;
	float: right;
	background:rgb(59, 58, 55);
 }

.cell {
	background-color: black;
	border: 1px solid rgb(66, 66, 64);
	width: 40px;
	height: 40px;
	float:right;
	border-radius: 30%;
 }
.cell2 {
	background-color: black;
	border: 1px solid rgb(66, 66, 64);
	width: 22px;
	height: 22px;
	float:right;
	border-radius: 30%;
 }

footer {
	float: left;
	width:90%;
}

@media only screen and (max-device-width: 480px) {

   .btn {
   	display: inline-block;
   	width: 80vw;
   	margin-left: 30px;
   	margin-bottom: 8px;
   }
  .button{
  	float: left;
	font-size: 8px;
	width: 65px;
	cursor:pointer;
	font-weight: bold;
	display: inline-block;
	margin-left: 5px;
  }
 .grid {
	margin-top: 0px;
	display: inline-block;
    border: 5px solid black;
	width: 82vw;
	height: 72vh;
	float: left;
	background:rgb(59, 58, 55);
	overflow: hidden;
	margin-left: 20px;
 }
 
 h1{
 	font-size: 30px;
 	text-align: center;
 }
}
@media only screen and (max-device-width: 780px) and (min-device-width: 480px) {
	.btn {
   	display: inline-block;
   	width: 80vw;
   	margin-left: 300px;
   
   	margin-top: 50px;
   }
  .button{
  	float: left;
	font-size: 8px;
	width: 65px;
	cursor:pointer;
	font-weight: bold;
	display: inline-block;
	margin-left: 5px;
  }
 .grid {
	margin-top: 50px;
	display: inline-block;
    border: 5px solid black;
	width: 88vw;
	height: 66vh;
	float: left;
	background:rgb(59, 58, 55);
	overflow: hidden;
	margin-left:100px;
 }
 h1{
 	text-align: center;
 	font-size: 40px;
 	margin-top: 50px;
 }
 footer {
 	margin-top: 100px;
 }

}